/* -----------------CSS FOOTER----------------- */
.comments {
    color: red;
}
.none{
    display: none;
}
.block{
    display: block;
    color: white;
    font-weight: bolder;
}
.paragraphe{
    font-size: large;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer{
    background-color: #635656;
    bottom:0;
    width:100%;
    margin-top: 60px;
    padding-top:50px;
    height:250px;
}
.footer button{
    background-color: red;
    color: white;
    border-radius: 0 15px 15px 0;
    width: 230px;
    font-size: large;
    height: 44px;
}
.footer input {
    background-color: #AAAAAA;
    height: 40px;
    margin-right: 5px;
    width: 300px;
    border-radius: 15px 0 0 15px;
}
#newsLetters::placeholder{
    color: white;
    font-size: large;
    padding-left: 5px;
}
.footerMenu {
    margin-top: 30px;
}
.footerMenu ul{
    display: flex;
    justify-content: space-evenly;
    font-size: large;
    color: white;
}
.socialMedias ul {
    display: flex;  
}
.socialMedias li{
    margin-right: 5px;
}
.socialMedias{
    width: 6%;
    margin-left: 47%;
    margin-top: 10px;
}

/* ---------------------------CSS CONNEXION-------------------- */
.connexion{
    width: 60%;
    margin-top: 20px;
    border: 2px solid black;
    margin-left: 25%;
}
.connexion h3{
    font-size: xx-large;
    background-color: cadetblue;
    color: white;
    height: 80px;
    padding-top: 20px;
    margin-bottom: 30px;

}
.connexion p{
    text-align: end;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: x-large;
}
.emailInput i{
    position: absolute;
    margin-top: 10px;
    margin-left: -50px;
}
#open{
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left: -50px;
}
#close{
    display: none;
}
.fa-eye{
    position: absolute;
    margin-top: 10px;
    margin-left: -50px;
}
.fa-eye-slash{
    position: absolute;
    margin-top: 10px;
    margin-left: -50px;
}
.connexion input{
    width: 98%;
    height: 50px;
    border-radius: 10px;
    font-size: x-large;
    margin-bottom: 20px;
}
.connexion input::placeholder{
    padding-left: 10px;
}
#btnConnexion{
    background-color: #48D1CC;
    color: white;
    margin-right: 5px;
}
#btnInscription{
    background-color: #C4C4C4;
    color: #3C3838;
    margin-left: 5px;

}
.connexion button{
    width: 30%;
    height: 50px;
    font-size: xx-large;
    border-radius: 10px;
    margin-bottom: 60px;
}