/* -----------------CSS SHOOPING----------------- */
.shooping-container{
     width: 60%;
     margin-left: 20%;
     border: 2px solid black;
}
.titleShooping{
    font-size: x-large;
    color: white;
    background-color: #48D1CC;
    height: 50px;
}
.wrapperMenu{
    display: flex;
    justify-content: space-between;
}
.wrapperInfo{
    display: flex;
}
.wrapperInfo h3{
    margin-right: 15px;
}
/* -----------------CSS COMMENTS----------------- */
.commentUser{
    border: 2px solid black;
    width: 400px;
    height: 140px;
    margin-top: 40px;
}
.comments form{
    width: 30%;
    margin-left: 35%;
}
.comments form button{
    width: 25%;
    height: 50px;
    font-size: xx-large;
    border-radius: 10px;
    margin-bottom: 60px;
    background-color: #48D1CC;

}
.comments textarea{
    width: 550px;
    height: 140px;
    font-size: large;
}
.comments textarea::placeholder{
    font-size: large;
}
hr {
    margin-bottom: 20px;
    margin-top: 20px;
}
.createdAt{
    background-color: #48D1CC;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* -----------------CSS FOOTER----------------- */
.none{
    display: none;
}
.block{
    display: block;
    color: white;
    font-weight: bolder;
}
.paragraphe{
    font-size: large;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer{
    background-color: #635656;
    bottom:0;
    width:100%;
    margin-top: 60px;
    padding-top:50px;
    height:250px;
}
.footer button{
    background-color: red;
    color: white;
    border-radius: 0 15px 15px 0;
    width: 230px;
    font-size: large;
    height: 44px;
}
.footer input {
    background-color: #AAAAAA;
    height: 40px;
    margin-right: 5px;
    width: 300px;
    border-radius: 15px 0 0 15px;
}
#newsLetters::placeholder{
    color: white;
    font-size: large;
    padding-left: 5px;
}
.footerMenu {
    margin-top: 30px;
}
.footerMenu ul{
    display: flex;
    justify-content: space-evenly;
    font-size: large;
    color: white;
}
.socialMedias ul {
    display: flex; 
    justify-content: space-evenly; 
}
.socialMedias li{
    margin-right: 5px;
}
.socialMedias{
    width: 10%;
    margin-left: 45%;
    margin-top: 10px;
}

/* ---------------------------CSS CONNEXION-------------------- */
.connexion{
    width: 60%;
    margin-top: 20px;
    border: 2px solid black;
    margin-left: 25%;
}
.connexion h3{
    font-size: xx-large;
    background-color: cadetblue;
    color: white;
    height: 80px;
    padding-top: 20px;
    margin-bottom: 30px;

}
.connexion p{
    text-align: end;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: x-large;
}
.emailInput i{
    position: absolute;
    margin-top: 10px;
    margin-left: -50px;
}
#open{
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left: -50px;
}
#close{
    display: none;
}
.connexion .fa-eye{
    position: absolute;
    margin-top: 10px;
    margin-left: -50px;
}
.connexion .fa-eye-slash{
    position: absolute;
    margin-top: 10px;
    margin-left: -50px;
}
.connexion input{
    width: 98%;
    height: 50px;
    border-radius: 10px;
    font-size: x-large;
    margin-bottom: 20px;
}
.connexion input::placeholder{
    padding-left: 10px;
}
#btnConnexion{
    background-color: #48D1CC;
    color: white;
    margin-right: 5px;
}
#btnInscription{
    background-color: #C4C4C4;
    color: #3C3838;
    margin-left: 5px;

}
.connexion button{
    width: 30%;
    height: 50px;
    font-size: xx-large;
    border-radius: 10px;
    margin-bottom: 60px;
}

/* -----------CSS AUTHENTIFICATION-------------- */
.authentification h3{
    font-size: xx-large;
    background-color: cadetblue;
    color: white;
    height: 80px;
    padding-top: 20px;
    margin-bottom: 30px;
}
.authentification p{
    font-size: xx-large;
    width: 20%;
    margin-left: 18%;
}
.authentification p i{
    font-size: xx-small;
}
.civilite{
    width: 20%;
    margin-left: 22%;
}
.civilite input{
    margin-right: 5px;
    margin-left: 5px;
}
.authentification label{
    font-size: large;
}
.authentification{
    width: 60%;
    margin-top: 20px;
    border: 2px solid black;
    margin-left: 20%;
}
.userInfo input{
   width: 94%;
   height: 50px;
   margin-left: 3%;
   border-radius: 10px;
   font-size: large;
   margin-bottom: 20px;
}
.userInfo input::placeholder{
    font-size: large;
    padding-left: 5px;
}
.userInfo div{
    margin-left: 0;
    text-align: start;
}
.userInfo{
    width: 50%;
    margin-left: 25%;
}
.authentification label i{
    font-size: xx-small;
}
.authentification button{
    width: 30%;
    height: 50px;
    font-size: xx-large;
    border-radius: 10px;
    margin-bottom: 60px;
    background-color: #48D1CC;
    color: white;
}
.passAuthentification .fa-eye{
    position: absolute;
    display: inline;
    margin-left: -50px;
    margin-top: 10px;

}
.passAuthentification .fa-eye-slash{
    position: absolute;
    display: inline;
    margin-left: -50px;
    margin-top: 10px;
}

/* Responsive design footer  */
@media (max-width: 375px) {
    .footerMenu li {
       font-size: xx-small;
    }
    .footer p {
        font-size: small;
    }
    .footer input {
        width: 120px;
    }
    #newsLetters::placeholder{
        font-size: 9px;
    }
    .footer button {
        width: 120px;
        font-size: x-small;
    }
    .socialMedias i{
        font-size: small;
    }
    .comments form {
        width: 80%;
        margin-left: 10%;
    }
    .leaveComment label {
        font-size: medium;
    }
    .comments textarea{
        width: 250px;
        height: 140px;
        font-size: large;
    }
    .comments form button{
        width: 25%;
        height: 50px;
        font-size: small;
        border-radius: 10px;
        margin-bottom: 60px;
        background-color: #48D1CC;
    
    }
    .commentUser{
        width: 300px;
    }
}