.connexion{
    width: 60%;
    margin-top: 20px;
    border: 2px solid black;
    margin-left: 25%;
}
.connexion h3{
    font-size: xx-large;
    background-color: cadetblue;
    color: white;
    height: 80px;
    padding-top: 20px;
    margin-bottom: 30px;

}
.connexion p{
    text-align: end;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: x-large;
}
.emailInput i{
    position: absolute;
    margin-top: 10px;
    margin-left: -50px;
}
#open{
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left: -50px;
}
#close{
    display: none;
}
.connexion .fa-eye{
    position: absolute;
    margin-top: 10px;
    margin-left: -50px;
}
.connexion .fa-eye-slash{
    position: absolute;
    margin-top: 10px;
    margin-left: -50px;
}
.connexion input{
    width: 98%;
    height: 50px;
    border-radius: 10px;
    font-size: x-large;
    margin-bottom: 20px;
}
.connexion input::placeholder{
    padding-left: 10px;
}
#btnConnexion{
    background-color: #48D1CC;
    color: white;
    margin-right: 5px;
}
#btnInscription{
    background-color: #C4C4C4;
    color: #3C3838;
    margin-left: 5px;

}
.connexion button{
    width: 30%;
    height: 50px;
    font-size: xx-large;
    border-radius: 10px;
    margin-bottom: 60px;
}
.btnAdmin button {
    width: 10%;
    height: 50px;
    font-size: large;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 60px;
    background-color: #48D1CC;
    color: white;
}
/* -----------CSS ADMIN IMAGES--------------- */
.imageAdmin{
    width: 60%;
    margin-top: 20px;
    border: 2px solid black;
    margin-left: 20%;
}
.imageAdmin h3{
    font-size: xx-large;
    background-color: cadetblue;
    color: white;
    height: 80px;
    padding-top: 20px;
    margin-bottom: 30px;

}
.imageAdmin input{
    width: 98%;
    height: 50px;
    border-radius: 10px;
    font-size: x-large;
    margin-bottom: 20px;
}
.imageAdmin button{
    width: 10%;
    height: 50px;
    font-size: xx-large;
    border-radius: 10px;
    margin-bottom: 60px;
    background-color: #48D1CC;
    color: white;
}
.imageAdmin input::placeholder{
    font-size: large;
    padding-left: 5px;
}
.imageAdmin label {
    font-size: xx-large;
}
.deleteImage img{
    width: 200px;
    width: 100px;
}
.deleteImage {
    border: 2px solid black;
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.wrapperImages{
    width: 200px;
    margin-bottom: 20px;
}
.deleteImage h3{
    font-size: xx-large;
    background-color: cadetblue;
    color: white;
    height: 80px;
    padding-top: 20px;
    margin-bottom: 30px;

}
